# Rust
/target/
Cargo.lock

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Maturin
*.so
*.dylib
*.dll
*.whl
notebooks/supplier_clustering_rustcluster.py
