# Rust
/target/
Cargo.lock

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MS Office lock files
~$*

# Maturin
*.so
*.dylib
*.dll
*.whl
notebooks/supplier_clustering_rustcluster.py
notebooks/item_classification_s4_rustcluster.py
notebooks/item_classification_s5_cluster_calculations_rustcluster.py
notebooks/item_classification_s6_cluster_labeling_rustcluster.py
